*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Metrophobic', sans-serif;
}

header{
  width:100%;
  border:1px solid lightgrey;
  display:flex;
  padding:20px 30px;
  position: fixed;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:white;
  z-index: 1
}

header ul li{
  padding:10px 20px;
  list-style: none;
  text-align: center;
}

header ul {
  margin:40px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

main{
  position: relative;
  top:200px;
  width:100%;
}

.quizStart{
  display: block;
  align-items: center;
}

h1{
  text-align: center;
}

.quizStart button {
  padding:10px;
  border:none;
  background-color:#CCA43B;
  color:#ffffff;
  font-size:16px;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.quizStart button:hover{
  background-color: #363636
}

main div {
  display: flex;
  width:100%;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top:60px;
  border-bottom: 1px solid lightgrey;
}

.questionAnswerForm{
  display:none;
}

.questionAnswerForm form {
  display:none;
}

.placeholderimage {
  border:1px solid lightgrey;
  height:100px;
  width:15%;
  padding:20px 30px;
  margin:0 auto;
  line-height:100px;
}

form{
  width:70%;
  margin:0 auto;
  border:1px solid lightgrey;
  padding:20px 30px;
  margin-bottom:60px;
}

label{
  display: block;
  padding-bottom:20px;
}

input{
  margin-bottom:20px;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}

input[type=radio] {
  flex: 0 0 auto;
  margin-right: 10px;
}

form button{
  padding:10px;
  border:none;
  background-color:#CCA43B;
  color:#ffffff;
  font-size:16px;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover{
  background-color: #363636
}

.answer {
  flex: 1 1 auto;
}

.answerOption{
  display: flex;
}

.correctAnswer{
  display:none;
}
